ENVIRONMENT=development
#USER SERVICE ENVIRONMENT VARIABLES
USER_DATABASE_URL=YOUR_DATABASE_URL
USER_DATABASE_USERNAME=YOUR_DATABASE_USERNAME
USER_DATABASE_PASSWORD=YOUR_DATABASE_PASSWORD
USER_DATABASE_NAME=YOUR_DATABASE_NAME
USER_SECRET_KEY=YOUR_SECRET_KEY
USER_ALGORITHM=HS256
USER_ACCESS_TOKEN_EXPIRE_DAYS=30

#RACE SERVICE ENVIRONMENT VARIABLES
RACE_DATABASE_URL=YOUR_DATABASE_URL
RACE_DATABASE_USERNAME=YOUR_DATABASE_USERNAME
RACE_DATABASE_PASSWORD=YOUR_DATABASE_PASSWORD
RACE_DATABASE_NAME=YOUR_DATABASE_NAME
#PAYMENT SERVICE ENVIRONMENT VARIABLES
PAYMENT_DATABASE_URL=YOUR_DATABASE_URL
PAYMENT_DATABASE_USERNAME=YOUR_DATABASE_USERNAME
PAYMENT_DATABASE_PASSWORD=YOUR_DATABASE_PASSWORD
PAYMENT_DATABASE_NAME=YOUR_DATABASE_NAME
PAYMENT_SECRET_KEY=YOUR_SECRET_KEY

PAYMENT_WEBHOOK_SECRET=YOUR_WEBHOOK_SECRET
PAYMENT_SUCCESS_URL=YOUR_SUCCESS_URL
PAYMENT_CANCEL_URL=YOUR_CANCEL_URL
PAYMENT_PUBLISH_KEY=YOUR_PUBLISH_KEY

#MAILTRAP
MAILTRAP_API_TOKEN=YOUR_API_TOKEN
MAILTRAP_SANDBOX=true
MAILTRAP_INBOX_ID=YOUR_INBOX_ID
EMAIL_FROM=obstarace@noreply.com
EMAIL_FROM_NAME=Obsta Race
EMAIL_SUPPORT=obstarace@support.com